/*
  Color Pallete:
    Gray: #F2F2F2
    Yellow: #FECD51
    Ruby: #9F1E49
    Dark Purple: #2F1B41
*/


/* Reset Default Styles for tags */

figure, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.main__header {
    border-bottom: 1px solid #F2F2F2;
    padding: 20px 0;
    box-sizing: border-box;
    min-height: 100px;
    margin-bottom: 20px;
    text-align: center;
}


/* Titles */

.big__title {
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin: 0;
    text-align: center;
    color: #3a374b;
}

.big__subTitle {
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    font-size: .8em;
    margin: 0;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .6pt;
    color: #d0a22d;
}

.section__title {
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    letter-spacing: .5pt;
    font-size: 1.2em;
    margin: 30px 0 30px 0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .6pt;
    color: #d0a22d;
}

.footer__copyright {
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    font-size: .8em;
    letter-spacing: .2pt;
    color: #7d7d7d;
}

.portfolio__item {
    text-align: center;
    margin-bottom: 40px;
}

.portfolio__item__title:after {
    width: 50px;
    height: 1px;
    content: '';
    box-sizing: border-box;
    border-right: 15px solid #FECD51;
    border-left: 15px solid #FECD51;
    display: block;
    text-align: center;
    margin: 10px auto 0;
}

.portfolio__thumbnail {
    -webkit-transition: .4s ease filter;
    -o-transition: .4s ease filter;
    transition: .4s ease filter;
    cursor: pointer;
}

.portfolio__thumbnail:hover {
    filter: grayscale(60%);
}

.portfolio__item__title {
    text-transform: uppercase;
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    letter-spacing: .6pt;
    margin: 10px 0 20px 0;
    color: #9F1E49;
    font-size: 1em;
    font-weight: 500;
}

.portfolio__item_desc {
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    margin: 0;
    color: #565656;
    font-size: .8em;
    font-weight: 500;
}

.responsive__img {
    max-width: 100%;
}

[class*="col__"] {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.site__footer {
    padding: 20px 0;
    margin-top: 40px;
    background-color: #F2F2F2;
}

@media (min-width:640px) {
    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    [class*="col__"] {
        flex-wrap: wrap;
        width: 100%;
    }
    .main__header {
        text-align: initial;
    }
    .big__title {
        text-align: right;
        font-size: 2.4em;
    }
    .big__subTitle {
        text-align: right;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .row {
        flex-direction: row;
    }
}

@media screen and (min-width: 769px) {
    .row {
        flex-direction: row;
    }
    .col__1 {
        width: 8.333333333%;
    }
    .col__2 {
        width: 16.66666667%;
    }
    .col__3 {
        width: 25%;
    }
    .col__4 {
        width: 33.33333333%;
    }
    .col__5 {
        width: 41.66666667%;
    }
    .col__6 {
        width: 50%;
    }
    .col__7 {
        width: 58.33333333%;
    }
    .col__8 {
        width: 66.66666667%;
    }
    .col__9 {
        width: 75%;
    }
    .col__10 {
        width: 83.33333333%;
    }
    .col__11 {
        width: 91.66666667%;
    }
    .col__12 {
        width: 100%;
    }
}


/* Helper Classes*/

.align__center {
    text-align: center;
}
